<html>
    <head>
        <title>Single User</title>
    </head>
    <body>
        <h1>User Details</h1>
        <div>
            <p>Name: <%= name %></p>
            <p>Age: <%= age %></p>
            <p>Email: <%= email %></p>
        </div>
    </body>
</html>
